<configuration debug="false" scan="true">
    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%highlight(%-5level) - %c] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <logger name="com.github.tomakehurst.wiremock" level="WARN"/>
    <logger name="wiremock.org" level="ERROR"/>
    <logger name="org.eclipse.jetty" level="WARN" />
    <logger name="WireMock" level="WARN"/>
    <logger name="/" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>